{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"
          href="{% static  "bootstrap/4.0.0-beta.2/css/bootstrap.min.css" %}">

    <title>Madam Honey's page</title>
</head>
<body>
    <h1>{% block header_text %}{% endblock header_text %}</h1>

    {% block content %}
    {% endblock content %}

    <script src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript"
            src="{% static "bootstrap/4.0.0-beta.2/js/bootstrap.min.js" %}"></script>
</body>
</html>